

html {
    font-size: 1rem;
    font-family: 'Inter', sans-serif;

}


/* the inside.................... */

section {margin-bottom: 2rem;}

article.centre p.notes {
    padding: 0.5rem;
    width: 60%;
    max-width: 20rem;
    display: inline-block;
    background-color: white;
    border: 1px solid rgb(190, 190, 190);
    margin-bottom: 3rem;
}

.child-sec {
    display: inline-block;
    width: 20rem;
}

.child-sec h3 {
    text-transform: uppercase;
    font-size: 1.1rem;
}

.known-width {
    vertical-align: top;
    padding: 0 1rem 1rem 1rem;
    display: inline-block;
    background-color: rgb(0,139,139)
}

.known-width h4 {
    font-weight: normal;
    color: rgb(247, 248, 236);
}

span.head-notes {
    font-size: .9rem;
    border: 1px solid rgb(129, 129, 129);
    background-color: rgb(250, 249, 234);
    color: black;
    border-radius: 10px;
    padding: .3rem .6rem;
}

/* parent child test........................ */

.child {
    border: firebrick 1px solid;
    width: 10rem;
    height: 20rem;
    position: absolute;
    top: 50%;
    margin-top: -10rem;
}

.parent {
    position: relative;
    border: forestgreen 1px solid;
    width: 20rem;
    height: 30rem;
    margin: 0 auto;
}



/* notes........................ */



section.notes {
    margin-top: 1rem;
    border: none;
    margin: 0 2rem;
}


article.centre ul, section.notes ul {
    padding-left: 0;
    list-style-type: none;
    padding: .5rem
}

article.centre li, section.notes ul {
    background-color: rgb(255, 242, 224);
    line-height: 1.6rem;
    max-width: 30rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.hb {
    border: rgb(207, 207, 207) 1px solid;
}

article.centre code, section.notes code {
    border: none;
}

/*  */

@media only screen and (max-width: 350px) {
    main article.centre p.notes, main article.centre section.known-width {
        font-size: .9rem;

    }

    section.child-sec {
        display: block;
        padding-bottom: 1rem;
        width: unset;
    }


}