
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Chewy&family=Manrope&family=Oxygen&family=Shadows+Into+Light&display=swap');

html {
    background: url(img/back.svg) no-repeat;
    background-attachment: fixed;
    background-position: bottom;
}

main {
    overflow: hidden;
    position: relative;
}


br {
    border: 1px grey solid;
}

code {
    background-color: var(--blue-border);
    border: none;
}

abbr {
    text-decoration: none;
}

abbr:hover {
    cursor: default;
}

/* NAVI : small info button */
/* -------------------------------- */


a span.index-hov, a span.index-hov:hover {
    color: var(--blue);
    animation-name: fade;
    animation-duration: 2s;
    cursor: default;
}

@keyframes fade {
    from {color: rgb(0, 0, 0);}
    to {color: var(--blue)}
  }



/* MAIN  */
/*------------*/


/* ROUND PICURE................... */


.intro-index:hover .card-text {
    opacity: 1;
}

.intro-index {
    width: 21rem;
    height: 21rem;
    border-radius: 50%;

    margin: 0 auto;
    position: relative;
}

.intro-index::before {

    content: '';
    position: absolute;
    top: 1em;
    bottom: 1em;
    left: 1em;
    right: 1em;
    transform: scale(0, 1);
    transition: transform ease-in-out .1s;

    border-radius: 50%;
    /* background: rgb(20, 13, 92); */
    border-right: rgb(255, 255, 255) .8rem solid;
    border-left: rgb(255, 255, 255) .8rem solid;
    opacity: .5;
}

.intro-index:hover::before {
    transform: scale(1, 1);
}

.kasha {
    box-sizing: border-box;
    display: inline-block;
    border: var(--blue-border) .8rem solid;
    border-radius: 50%;
    height: 100%;
    width: auto;
}

/* text............... */

.card-text {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    color: rgb(194, 194, 194);
    opacity: 0;
    transition: opacity ease-out .1s;
}

p.card-body {
    font-family: 'Orbitron', sans-serif;
    width: 14rem;
}

.aristo {
    font-size: .8rem;
    text-align: right;
    font-style: italic;
}


/* ROUND PICTURE NAVI.................... */


/* icon */


.animation-icon {
    animation-name: icon;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


@keyframes icon {
    from {opacity: 0;}
    to {opacity: 0.8;}
}


/* navi chevron */


.flex-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.flex-main__icon, .flex-main__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 0.5rem;
    margin-bottom: 2rem;
}

.flex-main__icon span {
    font-size: 5rem;
    color: var(--blue-border);
}

.flex-main__nav ul {
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.7rem;
    color: rgb(117, 97, 29);

    text-align: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

.flex-main__nav-text {
    width: 80%;
}

.flex-main__nav-icon {
    width: 40%;
}

.flex-main__nav-icon span {
    font-size: 5rem;
}

.flex-main__nav-icon:hover span {
    cursor: pointer;
}

.flex-main__content {
    width: 40%;
}

.flex-main__content-text, .table-presentation__content {
    font-family: 'Oxygen', sans-serif;
    color: rgb(71, 71, 71);
}

.flex-main__content-text {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: center;
    text-align: left;
    width: 55%;
    margin: auto;
    margin-top: 3rem;

}

.flex-main__content-text p {
    border-left: 14px solid var(--blue-border);
    padding-left: 2rem;
    margin: 0;
}

p.ct-junior__container {
    border: 0;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
}

.animation-chevron {
    animation-name: slide;
    animation-duration: 0.1s;
}

@keyframes slide {
    0% {
        opacity: .5;
        transform: translateX(0);
    }
    35% {
        opacity: 0;
        transform: translateX(60px);
    }

    100% {
        opacity: 0;
    }
}


/* NAV sections................. */


.table-presentation-window {
    position: relative;
    /* border: 1px solid rgb(189, 189, 189); */
    overflow: hidden;
    margin: auto;
    height: 22rem;
}

.content-toggle {
    display: none;
    margin-bottom: 2rem;
}

.animation__cont-toggle {
    animation-name: cont-toggle;
    animation-duration: .2s;
}

@keyframes cont-toggle {
    from {opacity: 0.5;}
    to {opacity: 1;}
}


.table-presentation, .table-presentation-first {
    position: absolute;
    left: 180px;
    display: inline-block;
    font-size: 1.2rem;
    margin: 1rem auto;
    margin-top: 3rem;
    width: 350px
}

.table-presentation-design {
    display: inline-block;
    font-size: 1.2rem;
    margin: 1rem auto;
    margin-top: 3rem;
    width: 55%;
}

.table-presentation {
    opacity: 0;
}

.table-presentation__logo-title {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.2rem;
}


.table-presentation__logo, .table-presentation__title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.table-presentation__title, .ct-junior {
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    color: rgb(50, 50, 92);
}

.table-presentation__logo {
    border-right: 1px solid rgb(201, 201, 201);
}

.table-presentation__logo-title-2 {
    padding-bottom: 1rem;
}

.table-presentation__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10rem;
    color: rgb(68, 70, 78);

}

.text {
    text-align: left;
    border-left: 14px solid var(--blue-border);
    padding-left: 2rem;
}

.table-presentation__logo img, .table-presentation__logo-2 img {
    width: 40px;
    padding: 0 .2rem;
}

.attention-grab {
    color: blue;
}




/* IT SKILLLS - slide show .......... */

/* animations */

/*  for synchro, the math is calculated (100% animation frames = 10s. delay). 33% and 66% is when the slides are perfectly in the middle of movement - so 3.3s and 6.6 is the delay start between animations   */

.animation-OFF-start {
    animation-name: slideOFF-start;
    animation-duration: 20s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.animation-OFF {
    animation-name: slideOFF;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-duration: 20s;
}

.animation-OFF2 {
    animation-name: slideOFF;
    animation-fill-mode: forwards;
    animation-delay: 6.66s;
    animation-iteration-count: infinite;
    animation-duration: 20s;
}

.animation-OFF3 {
    animation-name: slideOFF;
    animation-fill-mode: forwards;
    animation-delay: 13.32s;
    animation-iteration-count: infinite;
    animation-duration: 20s;
}

@keyframes slideOFF {
    0% {
        transform: translateX(-400px);
        opacity: 0;
    }
    32% {
        transform: translateX(-400px);
        opacity: 0;
    }
    34% {
        transform: translateX(0);
        opacity: 1;
    }
    65% {
        transform: translateX(0);
        opacity: 1;
    }
    67% {
        transform: translateX(400px);
        opacity: 0;
    }
    100% {
        transform: translateX(400px);
        opacity: 0;
    }
}

@keyframes slideOFF-start {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    32% {
        transform: translateX(0);
        opacity: 1;
    }
    34% {
        transform: translateX(400px);
        opacity: 0;
    }
    65% {
        transform: translateX(0);
        opacity: 0;
    }
    67% {
        transform: translateX(400px);
        opacity: 0;
    }
    100% {
        transform: translateX(400px);
        opacity: 0;
    }
}



/* slides NAV */


#graph-design-nav {
    position: absolute;
    top: 260px;
    left: 200px;
    display: flex;
    justify-content: center;
    width: 45%;
    margin: auto;
    padding: .1rem;
    background-color: rgba(255, 255, 255, 0.432);
    border: 1px solid rgb(226, 226, 226);
}

.graph-design-nav__empty, .graph-design-dots, .graph-design-nav__buttons {
    width: 33%;
}

.graph-design-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.graph-design-dots, .graph-design-nav__buttons span {
    color: rgb(228, 228, 228);
}

.graph-design-dots span {
    font-size: .7rem;
    margin: .1rem;
}

.graph-design-nav__buttons span {
    color: rgb(212, 212, 212);
    margin: 0;
}

.animtaion-dot-1 {
    animation-name: dotAnimation;
    animation-duration: 20s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.animtaion-dot-2 {
    animation-name: dotAnimation;
    animation-duration: 20s;
    animation-fill-mode: forwards;
    animation-delay: 6.66s;
    animation-iteration-count: infinite;
}

.animtaion-dot-3 {
    animation-name: dotAnimation;
    animation-duration: 20s;
    animation-fill-mode: forwards;
    animation-delay: 13.32s;
    animation-iteration-count: infinite;
}

@keyframes dotAnimation {
    0% {color: grey;}
    32% {color: grey;}
    34% {color: lightgray;}
    100% {color: lightgray;}
}

#pause-but:hover {
    cursor: pointer;
}

.tp-tag__container {
    margin-top: 1rem;
    display: flex;
}

.tp-tag {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2rem;
    display: inline-block;
    margin: .3rem;
    padding: .2rem .8rem;
    background-color: rgba(240, 239, 239, 0.301);
    box-shadow: 1px 1px 7px rgba(145, 145, 145, 0.658);
    color: rgb(129, 133, 143);
    border-radius: 10px;
}

/* media Q ...................................... */

/* 740 */

@media only screen and (max-width: 740px) {
    #nav-big-icon {
        display: none;
    }

    .flex-main__nav {
        width: 40%;
    }

    .table-presentation-window {
        width: 70%;
    }

    .table-presentation, .table-presentation-first {
        left: 0;
        width: 100%;
    }

    #graph-design-nav {
        left: 0;
        width: 99%;
    }
}

@media only screen and (max-width: 650px) {


    .flex-main__content, .flex-main__nav {
        width: 40%;
    }

    .table-presentation-window {
        overflow: visible;
        height: 22rem;
    }
}

@media only screen and (max-width: 650px) {

    .flex-main {
        display: block;
        margin: auto;
    }

    .flex-main__content, .flex-main__nav {
        width: 100%;
    }

    .flex-main__content {
        margin-top: 3rem;
        margin-bottom: 2rem;
    }

    .flex-main__nav {
        width: 50%;
        margin: auto;
    }

    .table-presentation-design, .flex-main__content-text {
        width: 60%;
    }
}

@media only screen and (max-width: 600px) {
    .table-presentation-design, .flex-main__content-text {
        width: 80%;
    }
}

@media only screen and (max-width: 500px) {

    .tp-tag__container {
        display: block;
    }
}

@media only screen and (max-width: 450px) {

    .table-presentation-window {
        width: 100%;
    }

    .table-presentation-design, .flex-main__content-text {
        width: 100%;
    }

}

@media only screen and (max-width: 450px) {
    .flex-main__nav {
        width: 60%;
    }
}

/* 400 */

/* @media only screen and (max-width: 400px) {
    h2.blue-rec-h2 {font-size: 1.2rem;}
} */