
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

html {
    background: none;
}

main {
    overflow: hidden;
    position: relative;
}


br {
    border: 1px grey solid;
}

/* PHOTO PART STYLE.................... */

.flex-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.flex-main__icon, .flex-main__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 0.5rem;
    margin-bottom: 2rem;
}


.flex-main__nav ul {
    text-align: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

.flex-main__nav-text {
    width: 80%;
}

.flex-main__nav-icon {
    width: 40%;
}

.flex-main__nav-icon span {
    font-size: 5rem;
}

.flex-main__nav-icon:hover span {
    cursor: pointer;
}

.flex-main__content {
    width: 40%;
}

.flex-main__content-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    width: 50%;
    height: 10rem;
    margin: auto;
    margin-top: 2rem;
}


/*                             */
/* kash im................... */
/*                           */


.intro-index:hover .card-text {
    opacity: 1;
}

.intro-index {
    width: 21rem;
    height: 21rem;
    border-radius: 50%;

    margin: 0 auto;
    position: relative;
}

.intro-index::before {

    content: '';
    position: absolute;
    top: 1em;
    bottom: 1em;
    left: 1em;
    right: 1em;
    transform: scale(0, 1);
    transition: transform ease-in-out .1s;

    border-radius: 50%;
    /* background: rgb(20, 13, 92); */
    border-right: rgb(255, 255, 255) .8rem solid;
    border-left: rgb(255, 255, 255) .8rem solid;
    opacity: .5;
}

.intro-index:hover::before {
    transform: scale(1, 1);
}

.kasha {
    box-sizing: border-box;
    display: inline-block;
    border: var(--blue-border) .8rem solid;
    border-radius: 50%;
    height: 100%;
    width: auto;
}

/* text............... */

.card-text {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    color: rgb(194, 194, 194);
    opacity: 0;
    transition: opacity ease-out .1s;
}

p.card-body {
    font-family: 'Orbitron', sans-serif;
    width: 14rem;
}

.aristo {
    font-size: .8rem;
    text-align: right;
    font-style: italic;
}



/* small info button.................... */

a span.index-hov, a span.index-hov:hover {
    color: var(--blue);
    animation-name: fade;
    animation-duration: 2s;
    cursor: default;
}

@keyframes fade {
    from {color: rgb(0, 0, 0);}
    to {color: var(--blue)}
  }


/* LINKS................... */

.check {
    font-family: 'Orbitron', sans-serif;
}

.check h3, .check h5 {
    color: rgb(68, 92, 92);
    font-weight: normal;
}

.check div {
    margin: 0 .6rem;
}

.sites-list a {
    text-decoration: none;
    color:  rgba(176, 197, 197, 0.781);
}

.sites-list a:hover {
    color: var(--sect-back);
}

#zar {
    font-family: 'Bakbak One', cursive;
    font-size: 2.5rem;
}

#skadoosh {
    font-family: 'Chewy', cursive;
    font-size: 2.3rem;
}

#design {
    font-family: 'Caveat', cursive;
    font-size: 3rem;
}

/* media Q ...................................... */


/* 400 */

@media only screen and (max-width: 400px) {
    h2.blue-rec-h2 {font-size: 1.2rem;}
}