
html {
    --back-notes: rgb(253, 244, 231);
}

.hb {border: 1px solid black;}

section {position: relative;}

figure {margin-bottom: .2rem;}

figcaption {
    font-style: italic;
    text-align: right;
    width: 80%;
    margin-top: 0px;
    padding: 0px;
    background-color: none;
    font-size: .8rem;
}

.fig3-fix {
    text-align: center;
    width: 20rem;
    margin: 0 auto ;
}

h3 {
    display: inline-block;
    padding: .2rem;
}

/* dropdown manu - first element - hover fix */
li div.dropdown-holder-us a.d-content-us-shad:hover {
    background: rgb(23,23,23);
    background: linear-gradient(180deg, rgba(23,23,23,1) 0%, rgba(58,58,58,1) 60%, rgba(58,58,58,1) 100%, rgba(243,243,243,1) 243%);
}

main.va {position: relative;}

.source-link {
    font-size: 1rem;
    padding: 0 .2rem;
    background-color: black;
    color: white;
    top: -2.9rem;
    right:0;
    position: absolute;
    display: inline-block;
}

.source-link::after {content: none;}

article.inline {
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
}

article.inline .notes {
    font-size: 1rem;
    background-color: white;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 10px;
}

.atr-start {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

/* lines............................. */

.line-ex, .line-bottom, .line-up, .line-ex2, .line-bottom2, .line-up2, .baseline2 {
    position: relative;
    margin: 0 auto;
    max-width: 38rem;
}

.line-ex, .line-ex2 {border-bottom: 2px solid blue;}
.line-up, .line-up2, .line-bottom, .line-bottom2 {
    border-bottom: 2px solid rgb(218, 67, 205);
}

.line-ex {top: 2.8rem}
.line-ex2 {top: 3.4rem}
.line-up {top: -.1rem;}


/* vertical align............................. */

.baseline-ex {vertical-align: baseline;}
.sub-ex {vertical-align: sub;}
.super-ex {vertical-align: super;}
.ex1 {vertical-align: 50%;}
.ex2 {vertical-align: -50%;}


.ex2-1 {vertical-align: middle;}

.ex2-11 {
    vertical-align: 50%;
    font-size: 2rem;}

.ex2-2 {vertical-align: top;}

.ex2-22 {
    vertical-align: -50%;
    font-size: 2rem;}

.ex2-3 {vertical-align: bottom;}


span::after {
    content: "\00a0 \00a0 \00a0 \00a0";
}

/* table format & notes......................... */

table {
    border: 1px solid rgb(199, 199, 199);   
    background-color: white;
    width: 25rem;
    margin: 1rem auto;
}

td, .notes {font-size: .9rem;}

td {
    padding-bottom: .7rem;
    text-align: left;
    width: 1.5rem;
}


.head-cell {
    text-align: center;
    font-weight: bold;
}

.notes {
    background-color: var(--back-notes);
    padding: .5rem;
    margin: 0 auto;
    width: 60%;
    max-width: 20rem;
}

/* box colors......................... */

.s-example {
    display:inline-block;
    background-color: rgba(0, 139, 139, 0.192);
}

.box-ex {
    vertical-align: baseline;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: rgb(122, 179, 226);
    padding: 1rem;
    background-clip: content-box;
    border: 1rem solid yellowgreen;
    margin: 1rem;
}

.ov-hidd {overflow: hidden;}

.baseline2 {
    bottom: 3.4rem;
    border-bottom: 2px solid blue;
}

/* colors......................... */

.col-purp {color: purple;}
.col-blue {color: blue;}
.col-grey {color: wheat;}

/*  */


.space {margin: 1rem;}

/* media Q....................................... */

/* 690 */

@media only screen and (max-width: 690px) {
    .lb-mq span {font-size: 1.4rem}
    .line-ex {top: 2.5rem}
    .line-ex2 {top: 2.5rem}
  }

/* 620 */

@media only screen and (max-width: 620px) {
    .lb-mq span {font-size: 1.2rem}
    .line-ex {top: 2.1rem}
    .line-ex2 {top: 2.0rem}
    .line-ex, .line-ex2 {border-bottom: 1px solid blue;}
    p.notes, table tr, table td {font-size: .9rem;}
    table {
        width: 20rem;
        margin: .7rem auto;
    }
    td {
        padding-bottom: .5rem;
        width: 1rem;
    }
  }

/* 550 */

@media only screen and (max-width: 550px) {
    .lb-mq span {font-size: 1rem}
    .line-ex {top: 1.8rem}
    .line-ex2 {top: 1.8rem}
    h3 {font-size: 1.5rem;}
    figcaption {font-size: .6rem;}
    
}

/* 500 */

@media only screen and (max-width: 500px) {
    div.box-ex {
        font-size: .7rem;
        width: 1rem;
        height: 1rem;
        padding: .7rem;
        margin: .7rem;
    }

    div.baseline2 {
        border-bottom: 1px blue solid;
        bottom: 2.7rem;
    }

    .lb-mq span {font-size: .8rem}
    .line-ex {top: 1.8rem}
    .line-ex2 {top: 1.8rem}
    h3 {font-size: 1.3rem;}

}

/* 420 */

@media only screen and (max-width: 420px) {
    div.box-ex {
        font-size: .7rem;
        width: .7rem;
        height: .7rem;
        padding: .5rem;
        margin: .5rem;
    }

    .s-example {display: block;}

    figcaption.fig3-fix {max-width: 15rem;}

    figure.s-example span {padding: .4rem;}

    table tr, table td {font-size: .7rem;}

    table {
        max-width: 15rem;
        margin: .7rem auto;
    }
    td {
        padding-bottom: .5rem;
        width: .9rem;
    }

    span::after {content: none;} 

    div.baseline2 {bottom: 2rem;}

    table code {
        font-size: .7rem;
        padding: .01rem;
    }
}

/* 340 */

@media only screen and (max-width: 340px) {

    figure.s-example {
        margin:0rem;

    }

    figure.s-example span {padding: .5rem;}

    figcaption {max-width: 20rem;}
    
    article.inline section table {
        max-width: 15rem;
        margin: 1rem auto;
    }
    td {
        padding-bottom: .5rem;
        width: .7rem;
    }

    article.inline p.notes {margin: 1rem auto;}

}