
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Chewy&display=swap');


:root {
    text-align: center;
    --m-back: rgb(243, 243, 243);
    --hover-nav: rgb(230, 204, 103);
    --pink-nav:  rgb(206, 52, 198);
    --navi-light: rgb(218, 228, 248);
}

html {
    background: url(img/back.svg) no-repeat;
    background-attachment: fixed;
    background-position: bottom;
}

/* MAIN...................................... */

.www-style {
    margin: 1rem;
}


.example-container {
    color: grey;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 30px;
    margin-bottom: .5rem;
}

.example-container:hover {
    color: black;
    outline: 5px solid rgba(46, 58, 221, 0.568);
    background-color: rgba(216, 229, 255, 0.178);
    cursor:default;
}

.example-container:hover .example-link a span.material-icons {
    color: black;
}

.example-container:hover #www-logo-ska {
    font-size: 1.5rem;
    color: rgb(138,32,32);
}

.example-container:hover #www-logo-zar {
    font-size: 3rem;
    background: #992877;
    background: -webkit-linear-gradient(to right, #992877 24%, #008080 50%, #413480 100%);
    background: -moz-linear-gradient(to right, #992877 24%, #008080 50%, #413480 100%);
    background: linear-gradient(to right, #992877 24%, #008080 50%, #413480 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.example-container:hover #www-logo-demo {
    color: rgb(161,72,56);
    font-size: 2.7rem;
}

.example-container:hover #www-logo-comp {
    font-size: 2rem;
    background: #99ADF1;
    background: -webkit-linear-gradient(to right, #99ADF1 22%, #FFEBCD 68%);
    background: -moz-linear-gradient(to right, #99ADF1 22%, #FFEBCD 68%);
    background: linear-gradient(to right, #99ADF1 22%, #FFEBCD 68%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.example {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 8rem;
}

.example-logo, .example-descr, .example-link__container {
    margin: 1rem;
}

.example-logo, .example-link__container {
    width: 25%;
}

.example-descr {
    width: 50%;
}

.example-logo img {
    width: 60%;
}

.example-link__container {
    display: flex;
    justify-content: left;
    align-items: center;
}

.example-link__container div a:first-child span {
    margin-right: .7rem;
}

.example-link {
    margin: 0 .4rem;
}

.example-link a span.material-icons {
    color: grey;
}

.github-logo {
    width: 20px;
}

.skadoosh {
    width: 10px;
}

#www-logo-zar {
    font-family: 'Noto Serif Display', serif;
    font-size: 2rem;
}

#www-logo-demo {
    font-family: 'Caveat', cursive;
    font-size: 2rem;
}

#www-logo-ska {
    font-family: 'Chewy', cursive;
    font-size: 1.2rem;
}

#www-logo-comp {
    font-size: 1.4rem;
    font-family: 'Bungee Inline', cursive;;
}

/* react logo */


.App-logo {
    pointer-events: none;
    color: var(--nav-back);
    width: 40px;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


  /* MQ................... */

  @media only screen and (max-width: 580px) {

    .example {
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 12rem;
    }

    .example-logo, .example-link__container {
        width: 50%;
    }

    .example-logo {
        justify-self: right;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    .example-descr {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        width: 70%;
    }

    .example-link__container {
        justify-self: left;
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }

    .example-link__container .material-icons {
        position: static;
    }

    #www-logo-comp {
        line-height: 1.1rem;
        font-size: 1.4rem;
        font-family: 'Bungee Inline', cursive;;
    }

  }

  @media only screen and (max-width: 415px) {

    .example-descr {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        width: 90%;
    }
  }

  @media only screen and (max-width: 350px) {
      .sec-main {
          margin: 0;
      }

      .example-container:hover #www-logo-demo {
        color: rgb(161,72,56);
        font-size: 2.5rem;
    }

    .example-logo, .example-descr, .example-link__container {
        margin: .4rem;
    }

    .example-logo {
        justify-self: center;
    }
  }
