

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Source+Sans+Pro:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    font-size: .9rem;
    text-align: center;
    --hover: rgb(8, 42, 94);
    --focus: rgb(11, 36, 73);
    --blue: rgb(46, 57, 221);
    --m-back: rgba(165, 208, 211, 0.144);
    --active: rgb(153, 173, 241);
    --sect-back: rgba(182, 212, 212, 0.781);
    --sect-back-head: rgb(117, 170, 170);
    --d-cont-color: rgb(139, 139, 139);
    --d-cont-back: rgb(58, 58, 58);
    --footer: rgb(206, 206, 206);
    --blue-border: rgb(216, 229, 255);
}

HTML {
    background: url(img/paint_opa.png) no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-width: 300px;
}

body {
    max-width: 50rem;
    margin: 0 auto;
}

/* NAVI................................. */

/* learning curve logo */

h1.intro {

    line-height: 1rem;
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 1rem;
    float: none;
    display: block;
    letter-spacing: 0.3rem;
    font-family: 'Bungee Inline', cursive;
    font-size: 1.5rem;

    background: #99ADF1;
    background: -webkit-linear-gradient(to right, #99ADF1 22%, #FFEBCD 68%);
    background: -moz-linear-gradient(to right, #99ADF1 22%, #FFEBCD 68%);
    background: linear-gradient(to right, #99ADF1 22%, #FFEBCD 68%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation-name: text-shad;
    animation-duration: .5s;

    }

@keyframes text-shad {
        40% {text-shadow: -8px 0px 0px rgba(168, 6, 101, 0.336)}
    }

/* big buttons */

nav {font-family: 'Source Sans Pro', sans-serif;}

ul.main-nav {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    margin-top: 0px;
    margin-left: 2rem;
    padding: 0rem;
    text-transform: uppercase;
    background-color: black;
    color: blanchedalmond;
    border-radius: 2rem;

    box-shadow: 1px 5px 30px rgba(2, 21, 71, 0.651);
}

li.mn-but, li.mn-but a {display: inline-block}
li.mn-but a {padding: 1rem 1.8rem;}

/* hovers for big buttons */

li.mn-but a, li.mn-but a:hover, li.mn-but a:visited {
    text-decoration: none;
    color: rgb(255, 235, 205);
}

li.mn-but a:hover, a.material-icons:hover, .mn-but2:hover   {
    background: var(--hover);
    background: linear-gradient(180deg, rgba(8,42,94,1) 30%, rgba(0,0,0,1) 80%, rgba(243,243,243,1) 243%);
}

.hover-left a:hover, .hover-left a:focus {
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.hover-right a:hover, .hover-right a:focus {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

li.mn-but a:focus {background-color: var(--focus);}

.active {color: var(--active) !important;}

.active:hover {
    background: black !important;
    cursor: default;
}


/* dropdown menu for USFUL STUFF  */

.dropdown-us {
    position: relative;
    display: inline-block;
}

.mn-but2 {
    padding: 1rem 1.8rem;
}

.dropdown-holder-us {
    display: none;
    position: absolute;
    z-index: 1;
    top: 2.15rem;
    left: 1.3rem;

    box-shadow: 1px 5px 30px rgba(2, 21, 71, 0.651);
}

.d-content-us {
    display: block;
    color: var(--d-cont-color);
    background-color: rgb(58, 58, 58);
    padding: .5rem 1.2rem;
    text-decoration: none;
    font-size: .8rem;
}

.d-content-us-shad {
    display: block;
    color: rgb(139, 139, 139);
    background-color: rgb(58, 58, 58);
    padding: .5rem 1.2rem;
    text-decoration: none;
    font-size: .8rem;
    background: rgb(23,23,23);
    background: linear-gradient(180deg, rgba(23,23,23,1) 0%, rgba(58,58,58,1) 60%, rgba(58,58,58,1) 100%, rgba(243,243,243,1) 243%);
}

a.d-content-us:hover, a.d-content-us:focus {
    background: rgb(75, 75, 75);
    color: blanchedalmond;
    border-radius: 0;
}

a.d-content-us-shad:hover, a.d-content-us-shad:focus {
    background: rgb(23,23,23);
    background: linear-gradient(180deg, rgba(23,23,23,1) 0%, rgba(68,68,68,1) 22%, rgba(75,75,75,1) 100%, rgba(243,243,243,1) 243%);
    color: blanchedalmond;
    border-radius: 0;
}

.dropdown-us:hover .dropdown-holder-us {
    display: block;
    cursor: default;
}

.us-active {
    color: var(--active)
}

a.us-active:hover, a.us-active:focus {
    color: var(--active);
    cursor: default;
    background-color: rgb(58, 58, 58);
}

ul.main-nav li.dropdown-us, a.mn-but2.active, .mn-but2:hover {
    position: relative;
    z-index: 10 !important;
}

.mn-but2:hover {cursor: default;}

/* info button */

.material-icons {
    vertical-align: middle;
    font-size: 2rem;
    margin-left: 1rem;
}

a span.material-icons {color: black;}
a span.material-icons:hover {color: var(--hover);}

/* INFO FIELD + animation..................... */

/* animated text field */

.blue-rec-h2 {
    font-family: 'Orbitron', sans-serif;
    margin-left: 1rem;
    vertical-align: middle;
    display: inline-block;
    visibility: hidden;

    animation-name: text-move;
    animation-duration: 2s;
    animation-delay: .2s;
    animation-fill-mode: forwards;
}

@keyframes text-move {
    from {visibility:visible; }
    to {visibility: visible; }
}


/* blue square moving  */

span.blue-rec {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    background-color: var(--blue);
    width:1rem;
    height: 2rem;

    animation-name: blue-rec;
    animation-duration: .15s;
    animation-direction:alternate;
    animation-timing-function: ease-in;
}

@keyframes blue-rec {
    from {right:0; background-color: white; }
    to {right:10rem; background-color: var(--blue);}
}

/* underscore _ colon : animated */

.dot {
    color: var(--blue);
    vertical-align: baseline;
    font-size: 1.5rem;

    animation-name: dot;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

span.dot::after {content: none;}

@keyframes dot {
    0% {opacity: 0;}
    15% {opacity: 1;}
    100% {opacity: 1;}
}

/*  */


header {
    border-bottom: 1px black solid;
    height: 6rem;
    overflow: hidden;
}

main {font-family: 'Inter', sans-serif;}

h2 {font-weight: normal;}

code {
    font-size: .8rem;
    border-bottom: .1rem solid white;
    background-color: rgb(221, 243, 201);
    display: inline-block;
    padding: 0.1rem 0.3rem;
    min-width: 2rem;
}

p.index {
    font-family: 'Orbitron', sans-serif;
    margin-left: 1rem;
    vertical-align: middle;
    text-align: left;
    display: inline-block;
    font-size: .9rem;
    max-width:26rem;

}

/* MAIN................................... */

.sec-main {
    /* background-color: var(--m-back); */
    padding: 0.4rem;
    margin-bottom: 0.4rem;
}

.marg-bot {
    margin-bottom: 2rem;
}

.head-notes {
    background-color: rgb(146, 146, 146);
    color: rgb(255, 255, 255);
    padding: .8rem .4rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: 0.7rem;
    font-weight: bold;
}

.head-notes::after {content: none;}


/* FOOTER.................................. */


footer {
    position: relative;
    font-family: 'Orbitron', sans-serif;
    font-size: .8rem;
    width: 10rem;
    margin: 3rem auto;
    border-top: 1px solid rgb(170, 170, 170);
    color: var(--footer);
    height: 1rem;
}

.p22 {
    font-size: .7rem;
    font-weight: bold;
    position: absolute;
    top: -1.5rem;
    left: 3.8rem;
    display: inline-block;
    border: 3px solid rgb(104, 104, 104);
    padding: .2rem .4rem;
    border-radius: 15px;
    background-color: rgb(238, 238, 238);
    color: black;
}

footer img {
    position: absolute;
    top: -.7rem;
    left: 3.2rem;
    display: block;
    width: 50px;
    margin: auto;
    margin-top: 1.2rem;
    margin-bottom: 1rem;
    padding-left: .5rem;
}


/* 
#github {
    width: 30px;
}

#github__cont {
    margin-top: 1rem;
} */


/* media q.................................... */

/* 540 */

@media only screen and (max-width: 540px) {
    a span.material-icons {
        position: fixed;
        right: 10px;
        top: 10px;
        z-index: 10;
        color: rgb(153,171,234);
    }

    a.material-icons {text-decoration: none;}
    ul.main-nav {margin-left: 0px;}
    h1.intro {letter-spacing: .2rem;}
  }

/* 470 */

@media only screen and (max-width: 470px) {
    li.mn-but a, li.dropdown-us a {padding: 0.5rem 1rem;}
    .sec-main {padding: 1rem;}
    h1.intro {letter-spacing: .1rem;}

    .d-content-us, .d-content-us-shad {font-size: .7rem;}

    .dropdown-holder-us {
        top: 1.6rem;
        left: .9rem;
  }
}

/* 390 */

@media only screen and (max-width: 390px) {
    h1.intro {
        font-size: 1.3rem;
        letter-spacing: 0;
    }
    li.mn-but a, li.dropdown-us a {
        font-size: .9rem;
        padding: 0.5rem .7rem;
    }

    ul.main-nav div.dropdown-holder-us {
        top: 1.7rem;
        left: .9rem;
    }

    .dropdown-holder-us a.d-content-us, .dropdown-holder-us a.d-content-us-shad {font-size: .6rem;}

  }