
:root {
    text-align: center;
    font-size: 1rem;
    --m-back: rgb(243, 243, 243);
}


/* SHARED COMPONENTS */


.in-bl, form {display: inline-block;}

.code-wrap, .form-type {    
    border: 0.1rem dotted rgb(170, 170, 170);
    border-radius: 0.9rem;
}

.code-wrap {
    display: inline-block;
    padding: 0.4rem;
}


/* INFO FIELD....................... */

header {height: 6rem;}

/* text mask*/

.blue-rec-h2-mask {
    position: relative;
    bottom: 4.5rem;
    left: 16rem;
    background-color: rgb(255, 255, 255);
    width:20rem;
    height: 3rem;

    animation-name: mask-move;
    animation-delay: .2s;
    animation-duration: .10s;
    animation-direction:alternate;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

}

@keyframes mask-move {
    from{left: 23rem;}
    to{left:40rem; }
}

/* MAIN................................ */


span.material-icons::after {content: "";}
span::after {content: " - ";}
span.blue-rec::after {content: none;}

/* forms */

.form-type {
    padding: 0.4rem;
    margin: 0.2rem;
    border: dotted 0.1rem;
}

p.descrip {
    min-width: 80%;
    font-size: 0.8rem;
    font-style: italic;
}

.in-but {
    padding: 0.4rem 0.8rem;
    background-color: rgb(52, 202, 202);
    border: none;
    border-radius: 1rem;
    color: whitesmoke;
    text-shadow: 0.05rem 0.05rem 0.1rem rgb(50, 62, 70);
    font-size: 1rem;
}

.in-but:hover {
    background-color: rgb(68, 226, 226);
}

.in-but:active {
    background-color: rgb(160, 252, 252);
}

form {vertical-align: top;}
h4.txt {text-align: center;}
[type=color] {border: none;}
[for=fname] {font-size: 0.8rem;}

[name=fname] {
    margin: 0.4rem; 
    text-align: center;
    color: slategrey;
}

/* positioning */

.txt-cen {text-align: center;}

.sec-pos-sec {
    width: 20%; 
    text-align: justify; 
    margin: 0.4rem;
    vertical-align: top;
}

figure {
    margin-bottom: 2rem;
}

figcaption {
    position: relative;
}

figcaption span {
    position: absolute;
    right: 10rem;
    text-align: right;
    background-color: rgb(231, 231, 229);
    font-style: italic;
    font-size: .7rem;
    padding: 0.2rem;
}

figcaption span::after {
    content: none;
}

figcaption img {
    width: 1rem;
}

/* FOOTER...................................... */

body footer {  
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* media q.................................... */

@media only screen and (max-width: 500px) {
    p.blue-rec-h2 {
        width: 200px;
    }
  }




